body {
    color: rgb(228, 232, 235);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.bg {
    position: fixed;
    inset: 0;
    z-index: -1;

    background-color: rgb(39, 37, 37);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(0.5px);
    transform: scale(1.05);
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar a {
    text-decoration: none;
    color: rgb(228, 232, 235);
    background-color: rgb(26, 28, 31);
    padding: 10px;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgb(11, 12, 14);
}

.match-container {
    max-width: 670px;
    
}

.match {
    display: grid;
    grid-template-columns: 140px 100px 100px 200px 70px;
    align-items: center;

    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;  

    min-height: 0;
    line-height: 1.1;

    color: rgb(234, 243, 253);
    opacity: 85%;
}

.match-link {
    text-decoration: none;
}

.match-link:hover {
    text-decoration: none;
}

.match >* {
    transform: translateY(7px);
}

.match p,
.match span {
    margin: 0;
}


.match.win:hover {
    background-color: rgb(44, 97, 150);
    transform: scale(1.005);
    cursor: pointer;
    transition: 0.15s ease;
}

.match.loss:hover{
    background-color: rgb(155, 47, 47);
    transform: scale(1.005);
    cursor: pointer;
    transition: 0.15s ease;
}

.match.win {
    background-color: #243368;  
    border: 3px solid rgb(44, 97, 150);
}

.match.loss {
    background-color: rgb(105, 37, 37);
    border: 3px solid rgb(155, 47, 47);
}


.icon-row {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.champion-icon {
    width: 40px;
    height: auto;
}

.role-icon {
    width: 25px;
    height: auto;
}

.kda {
    white-space: nowrap;
}

.cs {
    white-space: nowrap;
}

.match-date {
    white-space: nowrap;
}

.match-status {
    width: 60px;
    margin: 2px;
    text-align: center;
}

.match-status.win {
    font-size: larger;
    font-weight: bold;
    color: rgb(31, 143, 255);
}

.match-status.loss {
    font-size: larger;
    font-weight: bold;
    color: #ff191d;
}

.form {
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

.champion-form,
.update-form,
.settings-form {
    font: bold;
    background-color: rgb(26, 28, 31);
    border: 2px solid rgb(44, 97, 150);
    border-radius: 10px;
    padding: 15px;
}

.champion-form {
    display: flex;
    align-items: center;
    gap: 12px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    width: fit-content;
    min-width: 280px;
}

.settings-row {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 10px;
}

.form input[type="text"],
.form input[type="password"],
.form select {
    background-color: rgb(49, 52, 58);
    color: aliceblue;

    border: 2px solid rgb(70, 80, 100);
    border-radius: 6px;
    font-size: 14px;
    padding: 5px 8px;
    width: 100px;
    
    outline: none;
}

.settings-form input[type="password"] {
    width: 227px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form select:focus {
    background-color: rgb(49, 52, 58);
    color: aliceblue;
    border-color: rgb(44, 97, 150);
    box-shadow: 0 0 5px rgba(44, 97, 150, 0.5);
    font-size: 14px;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgb(49, 52, 58) inset; /* forces background */
    -webkit-text-fill-color: aliceblue;             /* fixes text color */
    transition: background-color 5000s ease-in-out 0s;        /* prevents flash */
    font-size: 14px;
}

.form input[type="submit"] {
    background-color: rgb(44, 97, 150);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.form input[type="submit"]:hover {
    background-color: rgb(39, 80, 121);
    cursor: pointer;
    transition: 0.15s ease;
}

.form input[type="submit"]:active {
    background-color: rgb(30, 69, 109);
}

.footer {
    font-size: 12px;
    width: 800px;
}