{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block content %}
    <p><h1>League of Legends Stat Viewer</h1></p>

    <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.champion_name.label }}
    {{ form.champion_name(list="champions") }}

    <datalist id="champions">
        {% for champion in champions %}
            <option value="{{ champion.name }}">
        {% endfor %}
    </datalist>
    <br/>
    {{ form.submit() }}
    </form>

    <!-- Add a place to show query stats-->
    {% if query %}
    <p>Match History</p>
    <div class="grid">
        {% for match in query %}
            <div class="card">
                <p><strong>Match ID: </strong>{{ match.match_id }}</p>
                <p><strong>KDA: </strong>{{ match.kills }}</p>
                <p><strong>CS: </strong>{{ match.cs }}</p>
                <p><strong>Result: </strong>{{ "Win" if match.win else "Loss" }}</p>
                <br/>
            </div>
        {% endfor %}
    {% endif %}
    </div>


{% endblock %}