{% extends "base.html" %}

{% block title %}
Index
{% endblock %}


{% block content %}
    <h2>Enter Details:</h2>
    <form method="POST" class="form settings-form">
        {{ form_settings.hidden_tag() }}

        <div class="settings-row">
            {{ form_settings.riot_id.label }}
            {{ form_settings.riot_id() }}
        </div>

        <div class="settings-row">
            {{ form_settings.tag.label }}
            {{ form_settings.tag() }}
        </div>

        <div class="settings-row">
            {{ form_settings.region.label }}
            {{ form_settings.region() }}
        </div>

        <div class="settings-row">
            {{ form_settings.queue.label }}
            {{ form_settings.queue() }}
        </div>

        <div class="settings-row">
            {{ form_settings.api_key.label }}
            {{ form_settings.api_key(placeholder="Leave blank to keep current API Key") }}
        </div>
        
        {{ form_settings.submit() }}
        
        {% if data.get("api_key") %}
            <p>API Key Saved</p>
        {% endif %}
    </form>
    <br>
    {% if status %}
        <p class="error-message">{{ status }}</p>
    {% endif %}

{% endblock %}