{% extends "base.html" %}

{% block title %}
Settings
{% endblock %}


{% block content %}
    <h2>Input:</h2>
    <form method="POST">
        {{ form_settings.hidden_tag() }}

        {{ form_settings.riot_id.label }}
        {{ form_settings.riot_id() }}
        <br/>

        {{ form_settings.tag.label }}
        {{ form_settings.tag() }}
        <br/>

        {{ form_settings.region.label }}
        {{ form_settings.region() }}
        <br/>

        {{ form_settings.queue.label }}
        {{ form_settings.queue() }}
        <br/>

        {{ form_settings.api_key.label }}
        {{ form_settings.api_key(placeholder="Enter new API key (Leave blank to keep current API Key)") }}

        <br/>
        {{ form_settings.submit() }}
        <br/>
        {% if data.get("api_key") %}
            <p>API Key Saved</p>
        {% endif %}
    </form>
    
    <form method="POST">
        {{ form_puuid.hidden_tag() }}
        
        {{ form_puuid.submit() }}
        {% if data.get("puuid") %}
            <p>Puuid Saved</p>
        {% else %}
            <p>Error getting Puuid, please re-enter your api key.</p>

        {% endif %}
    </form>

    <br>
    <a href="/">Back to home</a>

{% endblock %}